<app-nabvar></app-nabvar> 
<div *ngIf="productId">
    <div *ngIf="product">
<div class="container mt-4">
    <div class="col">
      <div class="">
        <h1 class="mt-4">{{ product.name }}</h1>
        <div class="col-12 mt-4">
            <div id="carouselExampleIndicators" class="carousel slide carousel-custom">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div *ngFor="let image of product.images; let i = index" class="carousel-item" [class.active]="i === 0">
                    <img [src]="image" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
       <div class="col">
        <div class="detail-text fs-5 mt-5 mb-4">
            {{ product.description }}
        </div>
    </div> 
        <div class="row mt-5">
        <div class="col mt-3">
            <p class="m-0 fs-5">En stock: {{ product.stock }}</p>
        </div>
        <div class="row">
        <div class="col d-flex justify-content-end">
            <!-- Precio alineado a la derecha  -->
           <p class="text-end fs-4">{{ product.price }} RD$</p>
       </div>
       </div>
       </div>

    <div class="col d-flex justify-content-end mb-5"> 
    <a type="button" class="btn btn1-custom mb-3 me-3">Añadir al carrito <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-bag-plus" viewBox="0 0 18 20">
        <path fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5"/>
        <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
      </svg></a>
    </div>
    </div>
    </div>
  </div>
</div>
</div>
<div *ngIf="!product">
    <p>Producto no encontrado.</p>
  </div>
<div *ngIf="!productId">
  <p>Cargando producto...</p>
</div>