
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasFilter" aria-labelledby="offcanvasFilterLabel">
        <div class="offcanvas-header">
      <h3 class="offcanvas-title" id="offcanvasRightLabel">Filtra por categorias</h3>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
<div class="offcanvas-body">
    <div class="col-md-12">
      <h4 class="mb-2">Ropa de niño</h4>
      <div class="row">
   <div class="btn-group-vertical mt-3" role="group" aria-label="Vertical button group">
    <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off">
    <label class="btn bt-chk" for="option1">Camisetas</label>
    <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off">
    <label class="btn bt-chk" for="option2">Pantalones</label>
    <input type="radio" class="btn-check" name="options" id="option3" autocomplete="off">
    <label class="btn bt-chk" for="option3">Calzados</label>
    <input type="radio" class="btn-check" name="options" id="option4" autocomplete="off">
    <label class="btn bt-chk" for="option4">Conjuntos</label>
      </div>
      <div class="col-md-12 mt-3">  
      <h4>Ropa de niña</h4>
      <div class="row">
        <div class="btn-group-vertical mt-3" role="group" aria-label="Vertical button group">
         <input type="radio" class="btn-check" name="options" id="option5" autocomplete="off">
         <label class="btn bt-chk" for="option5">Blusas</label>
         <input type="radio" class="btn-check" name="options" id="option6" autocomplete="off">
         <label class="btn bt-chk" for="option6">Pantalones y faldas</label>
         <input type="radio" class="btn-check" name="options" id="option7" autocomplete="off">
         <label class="btn bt-chk" for="option7">Calzado</label>
         <input type="radio" class="btn-check" name="options" id="option8" autocomplete="off">
         <label class="btn bt-chk" for="option8">Vestidos</label>
    </div>
  </div>
  <div class="col-md-12 mt-3">  
    <h4>Accesorios</h4>
    <div class="row">
      <div class="btn-group-vertical mt-3" role="group" aria-label="Vertical button group">
       <input type="radio" class="btn-check" name="options" id="option9" autocomplete="off">
       <label class="btn bt-chk" for="option9">Bobos</label>
       <input type="radio" class="btn-check" name="options" id="option10" autocomplete="off">
       <label class="btn bt-chk" for="option10">Pañales</label>
       <input type="radio" class="btn-check" name="options" id="option11" autocomplete="off">
       <label class="btn bt-chk" for="option11">Baberos</label>
       <input type="radio" class="btn-check" name="options" id="option12" autocomplete="off">
       <label class="btn bt-chk" for="option12">Cunas</label>
  </div>
</div>


  </div>
</div>


