<div class="container-fluid">
<div class="offcanvas offcanvas-end custom-cv" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
    <div class="offcanvas-header">
        <h3 class="offcanvas-title" id="offcanvasRightLabel">Lista de deseos</h3>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        <div class="col-md-12">
            <div class="container mb-4">
            <div class="row">
                MASKASOCASCA
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
