

<div class="container d-flex justify-content-center align-items-center full-height">
<div class="col text-center">
  <div class="row justify-content-center fh"> 
    <div class="col-sm-5 me-3 my-auto">
      <img src="/assets/imgs/tu-tienda-fisica13431065.jpeg"  class="img-fluid rounded"  alt="">
    </div> 
    <div class="col-sm-auto my-auto">
      <h1 class="mb-3">Inicia sesión</h1>
 
      <form (ngSubmit)="signIn()" #signInForm="ngForm" novalidate>
        <div class="form-floating mb-3">
          <input type="email" [(ngModel)]="email" name="email" class="form-control" id="LoginEmail" placeholder="name@example.com" required
            [ngClass]="{'is-invalid': signInForm.submitted && signInForm.controls['email'].invalid}" />
          <label for="LoginEmail">Cuenta de usario</label>
          <div *ngIf="signInForm.submitted && signInForm.controls['email']?.invalid" class="invalid-feedback">
            Por favor introduce una contraseña.
          </div>
        </div>
        <div class="form-floating mb-3">
          <input type="password" [(ngModel)]="password" name="password" class="form-control" id="floatingPassword" placeholder="Password"required
            [type]="showPassword ? 'text' : 'password'"
            [ngClass]="{'is-invalid': signInForm.submitted && signInForm.controls['password'].invalid}" />
          <label for="floatingPassword">Contraseña</label>
          <span class="position-absolute top-50 translate-middle-y end-0 me-3" *ngIf="!(signInForm.submitted && signInForm.controls['password']?.invalid)">
            <svg type="button" (click)="togglePassword()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16"><path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
              <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7" /></svg>
          </span>
          <div *ngIf="signInForm.submitted && signInForm.controls['password']?.invalid" class="invalid-feedback">
            Por favor introduce una contraseña.
          </div>
        </div>

      <div class="d-grid gap-2 mt-3">
        <button class="btn btn1-custom" type="submit">Iniciar sesión</button>
        <!-- <a  href="" class="btn btn2-custom" type="button">Cancelar</a>  -->

        <p>¿Aun no tienes una cuenta? <a class="link-opacity-50 link-custom" [routerLink]="['/register']" required> Registrate aqui</a></p>
      </div>
       </form> 
    </div>
      
    </div>
</div>
</div>