<div class="container">
  <div class="row">
    <div *ngFor="let product of filteredProducts" class="col-md-4 mb-4 crd-custom">
      <div class="card">
        <img [src]="product.coverImage" class="card-img-top" alt="{{ product.name }}">
        <div class="card-body">
          <h6 class="card-title crd-title fw-medium">{{ product.name }}</h6>
          <div class="card-text fs-6 mb-3">
            {{ product.description }}
          </div>
          <!-- Mueve "In stock" arriba del botón -->
          <div class="d-flex flex-column align-items-start mb-2">
            <p class="mb-2 mt-4">In stock: {{product.stock}}</p>
            <button class="btn btn1-custom" [routerLink]="['/Detail']">Agregar al carrito</button>
          </div>
          <!-- Precio alineado a la derecha -->
          <p class="fw-medium text-end mb-0" >{{product.price}} RD$</p>
        </div>
      </div>
    </div>
  </div>
</div>
