
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {background-color: #F0F3FF}
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap/scss/images';

  .full-height {
    height: 100%;
    width: 70%;
  }

.cn-custom{
  padding: 2rem;
  height: 40rem;
  background-color: #F0F3FF;
  border-radius: 10px;
  box-shadow: 0 1px 6px #372e73;
}


.img-custom{
border-radius: 8px;
transform: scaleX(0.8);

}

.btn1-custom{
  background-color: #15F5BA !important;

  &:active{
    background-color: #2f7c67 !important;
  }
}

.btn2-custom{
  background-color: #836FFF !important;
  
  &:active{
    background-color: #372e73 !important;
  }
}


.bg-custom {
    background-color: #836FFF !important; 
}

.link-custom{
  color: #211951 !important;
}


.nav-link{
    color: #F0F3FF !important;
    border-radius: 8px;


    &:hover{
      border-radius: 8px;
      transform: scaleX(1);
      background-color: #6a5bcbeb !important;
    }
}

.navbar-brand{
    color: #F0F3FF !important;
}

.navbar-toggler{
    border-color: #F0F3FF !important;
  
}


  .card-img-top {
    height: 200px;
    width: 200px;
    object-fit: cover;
    margin: auto;
  }

  .crd-title{ 
    max-height: 2rem;
   
  }
  
  .card-text {
    max-height: 5rem;
    overflow-y: auto;
  }
  
  .crd-custom:hover{
    background-color: #f0f3ff81;
    transform: scale(1.05);
    box-shadow: 0 2px 4px rgba(0,0,0,0)
  }

  .crd-custom:hover .btn-details{
    transition: 0.8ms;
    display: block !important;
  }



  .slide-custom{
    height: 48rem;
    width: 50rem;
  }

  
.bg-core{
  background-color: #F0F3FF !important;
}


.c-custom{
  padding: 2rem;
  height: 40rem;
  background-color: #F0F3FF;
  border-radius: 10px;
  box-shadow: 0 1px 6px #836FFF;
}

.btn-core1{
  background-color: transparent;
  border: 2px solid #15F5BA;
  color: #15F5BA;
  padding: 2rem 6rem;
  border-radius: 8px;

  &:hover{
    background-color: #15F5BA;
    color: white;
    transition: background-color 0.5s ease;
  }
  &:active{
    background-color: #15F5BA;
    color: white;
    border: 3px solid white;
  }
}



.btn-core2{
  background-color: transparent;
  border: 2px solid #836FFF;
  color: #836FFF ;
  padding: 2rem 6rem;
  border-radius: 8px;

  &:hover{
    background-color: #836FFF;
    color: white;
    transition: background-color 0.5s ease;
  }

  &:active{
    background-color: #836FFF;
    color: white;
    border: 3px solid #836FFF;
  }
}

.btn-core3{
  background-color: transparent;
  border: 2px solid #FFDB00;
  color: #FFDB00 ;
  padding: 2rem 6rem;
  border-radius: 8px;

  &:hover{
    background-color: #FFDB00;
    color: white;
    transition: background-color 0.5s ease;
  }

  &:active{
    background-color: #FFDB00;
    color: white;
    border: 3px solid #FFDB00;
  }
}


.mid{
height: 100%;
}

.top-right {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem; /* Ajusta el margen según sea necesario */
}

.fh{
  height: 100%;
}

.fw{
  width: 100%;
}

.bd-custom{
  border: 2px solid #372e73;
}


.bt-chk{
  background-color: #836FFF;
  color: white ;
}

.move{
  margin-top: 4rem;
}

.ps-custom{
  padding: 2rem 2rem;
  background-color: #F0F3FF;
  border-radius: 10px;
  box-shadow: 0 1px 6px #372e73;
}

.card{
  width: 100%;

}

.card-body{
  height: 16rem;
}

.btn-details {
  color: #2a3d38c6;
  display: none; /* Oculta el botón por defecto */
  z-index: 10; /* Asegura que el botón esté por encima del contenido */
  border: none;

  &:hover{
    color: #2a3d38c6;
  }
  &:active{
    color: #2a3d38c6;
  }
}

.carousel-custom {
  border-radius: 6px;
  width: 42vw; /* 50% del ancho de la pantalla */
  height: 40vh; /* 30% del alto de la pantalla */
  position: relative;
  left: 0; /* Pegado al lado izquierdo */
  margin: 0; /* Sin márgenes extras */
  overflow: hidden; /* Asegura que no se vea fuera del contenedor */
  background-color: #f8f9fafd; /* Fondo claro para imágenes más pequeñas */
  box-shadow: 2px 8px 12px rgba(199, 191, 191, 0.252)
}

.carousel-inner img {
  width: 100%; /* Ajusta el ancho de la imagen al carrusel */
  height: 100%; /* Ajusta la altura de la imagen al carrusel */
  object-fit: contain; /* Asegura que la imagen no se recorte */
  background-color: #000; /* Fondo oscuro detrás de las imágenes si son más pequeñas */
}

.detail-text {
  max-height: 10rem;
  max-width: 70rem;
  overflow-y: auto;
  border-radius: 4px;
}

/* Ocultar el círculo predeterminado del input radio */
input[type="radio"].btn-size {
  display: none;
}

/* Estilo base del label (botón) */
.btn-size {
  background-color: transparent;
  color: #836FFF;
  padding: 25%;
  width: 10rem;
  border: 2px solid #836FFF;
  border-radius: 3px;
  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  display: inline-block;
}

/* Estilo cuando se pasa el mouse */
.btn-size:hover {


  background-color: transparent;
  color:  #836FFF;
  border-color:  #836FFF;
}

/* Estilo del botón cuando el input está marcado */
input[type="radio"].btn-size:checked + .btn-size {
  background-color: #836FFF;
  color: #F0F3FF;
  border: 2px solid #836FFF;
  box-shadow: 2px 6px 8px #372e73;
  transform: scale(1.00);
}

.btn-counter{
  background-color: transparent;
  color: #836FFF;
  border: 2px solid #836FFF;
  border-radius: 3px;
  padding: 8px 16px;
  cursor: pointer;
  text-align: center;

  &:hover {
  background-color: #836FFF;
  color: #F0F3FF;
  border: 2px solid #836FFF;
  box-shadow: 2px 2px 4px #372e73;
  }
  &:active{
    transform: scale(0.95);
    background-color: #836FFF;
    color: #F0F3FF;
    border: 2px solid #836FFF;
    box-shadow: 2px 2px 4px #372e73;
  }
}


.impt-counter{
  background-color: transparent;
  border: 2px solid #836FFF;
  text-align: center;
}


.input-group input[type="number"] {
  text-align: center;
}

/* Ocultar las flechas del input number */
.input-group input[type="number"]::-webkit-inner-spin-button,
.input-group input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.input-group input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.input-group button {
  min-width: 40px;
}